@import "tailwindcss";
@import "./style/navbar.css";
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: 'Wotfard';
  src: url('../../resources/fonts/Wotfard-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Wotfard' , Arial, Helvetica, sans-serif;
}
